/* unified stylesheet */

#container {
    margin:10% auto 0 auto;
    padding:0 0 0 10em;
    text-align:center;
}

#container header {
    margin:0 0 0 -4em;
}

#container header h1 {
    margin:-0.1em 0 -0.4em 0;
    font:72pt 'Monsieur La Doulaise', cursive;
}

#container header h2 {
    margin:0 0 0 8em;
    font:14pt 'Syncopate', arial, sans-serif;
}

footer {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    margin:0 auto;
    font:10pt 'Syncopate', arial, sans-serif;
    text-align:center;
}

#container #main {
}

/* ---------------------------------------------------------------------- */
/* index.html */

#message {
    margin-top:0.5em;
    color:gray;
    font:12pt 'Syncopate', arial, sans-serif;
}

#container #signin {
    margin:1em 0;
    padding:0.8em 1em;
    font:12pt 'Syncopate', arial, sans-serif;
}

#container #signin img {
    vertical-align:middle;
}

#about {
    color:gray;
    font:12pt 'Syncopate', arial, sans-serif;
}

/* ---------------------------------------------------------------------- */
/* post.html */

#post {
    width:20em;
    height:5em;
    margin:1em 0;
    padding:0.5em;
    font-size:14pt;
    border:2px #CCC solid;
}

#logout {
    display:inline-block;
    margin:0.5em 0 0 15em;
    font:10pt 'Syncopate', arial, sans-serif;
    color:gray;
}

#submit-post {
    padding:0.8em 1em;
    font:12pt 'Syncopate', arial, sans-serif;
}

#last-post {
    margin-top:0.5em;
    font:12pt 'Syncopate', arial, sans-serif;
    color:gray;
}