/* unified stylesheet */

html {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0;
    font:14pt arial, sans-serif;
}

body {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0;
}

header {
    color:#DDD;
    float:right;
}
header * {
    display:inline-block;
    margin:0;
}
header h1 {
    font-size:72pt;
}
header h2 {
    font-size:14pt;
}

footer {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    margin:0 auto;
    font-size:10pt;
    text-align:center;
}

/* ---------------------------------------------------------------------- */
/* index.html */

#message {
    margin-top:0.5em;
    color:gray;
    font-size:12pt;
    line-height:2em;
}

#message a {
    color:#555;
}

#message a:visited {
    color:#888;
}

#container #signin {
    margin:1em 0;
    padding:0.8em 1em;
    font:12pt arial, sans-serif;
}

#container #signin img {
    vertical-align:middle;
}

#aboutLink {
    color:gray;
    font:12pt arial, sans-serif;
}

#about {
    display:none;
    position:absolute;
    left:50%;
    top:50%;
    width:40em;
    height:17em;
    margin:-9em 0 0 -20.5em;
    padding:0.5em;
    font:12pt arial, sans-serif;
    border:1px black solid;
    background-color:white;
    color:black;
    border-radius:0.5em;
}

/* ---------------------------------------------------------------------- */
/* post.html */

#post_form {
}

#post {
    position:absolute;
    bottom:0;
    left:0;
    width:0em;
    height:0em;
    margin:0em 0;
    padding:0em;
    font-size:14pt;
    border:2px #CCC solid;
}

#logout {
    display:block;
    position:absolute;
    right:0;
    top:0;
    font-size:10pt;
    color:gray;
}

#last-post {
    margin-top:0.5em;
    font-size:12pt;
    color:gray;
}