<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>Pensievr - Keep track of thoughts</title>
  <meta name="description" content="A dead simple way to write down your thoughts in the post twitter era">
  <meta name="author" content="thenoviceoof">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="/static/css/style.css">

  <link href="http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise"
	rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Syncopate"
	rel="stylesheet" type="text/css">
</head>

<body>
  <div id="container">
    <header>
      <h1>Pensievr</h1>
      <h2>Track your Thoughts</h2>
    </header>

    <div id="main" role="main">
      {% block main %}{% endblock %}
    </div>

  </div>

  <footer>
    By <a href="http://thenoviceoof.com">thenoviceoof</a>
  </footer>

  <!-- JavaScript at the bottom for fast page loading -->
  <script src="/static/js/libs/jquery-1.7.1.min.js"></script>
  <script src="/static/js/script.js"></script>

</body>
</html>
