{% extends "base.html" %}

{% block tagline %}Track your Thoughts{% endblock %}

{% block main %}
{% if message %}
<div id="message">Status: {{ message }}</div>
{% endif %}
<form action="/oauth" method="GET">
  <button id="signin">
    Sign in with
    <img src="/static/img/evernote_logo_4c.png" />
  </button>
</form>

<a id="aboutLink" href="#">What's this?</a>
<div id="about">
  <p>What do you know?</p>
  <p>What did you know 5 years ago?</p>
  <p>All these moments lost in time...</p>
  <p><a href="http://www.evernote.com/">Evernote</a>
    is looking to keep them somewhere</p>
  <p>Pensievr is looking to make a straightforward interface
    for twitter-like posting, for future yous</p>
  <p>I'm <a href="thenoviceoof.com">thenoviceoof</a></p>
  <p><a id="closeAboutLink" href="#">And that's all, folks</a></p>
</div>
{% endblock %}
