{% extends "base.html" %}

{% block extraStyles %}
{% if count %}
body{
  background:url("/static/img/trees/tree{{ count }}.png") center center no-repeat;
}
{% endif %}
{% endblock %}

{% block tagline %}What are you thinking?{% endblock %}

{% block main %}
<a id="logout" href="/logout">Logout of Pensievr</a>
{% if posted %}
<div id="last-post">Last post: <span>{{ posted }}</span></div>
{% endif %}
<form action="/post" method="POST" name="post_form">
  <input type="hidden" name="loc_lat" id="loc_lat" value="" />
  <input type="hidden" name="loc_long" id="loc_long" value="" />
  <input type="hidden" name="time" id="time" value="" />
  <textarea id="post" name="post"></textarea><br/>
  <button id="submit-post">Submit</button>
</form>
{% endblock %}

{% block script %}
<script src="/static/js/raphael-min.js"></script>
<script>set_time(); get_location();</script>
{% endblock %}
